div#static {
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#relative {
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 300px;
    top: 50px;
}


div#fixed {
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 300px;
    top: 200px;
}

#h1fixed {
    position: fixed;
    right: 300px;
    top: 20px;
}

div#parent {
    position: relative;
    width: 250px;
    height: 250px;
    border: 3px solid blue;
}

div#absolute {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
    right: 80px;
    left: 70px;
    border: 3px solid blue;
    
}

